name = "telegraph-image"
pages_build_output_dir = ".vercel/output/static"  # 必须添加这一行
compatibility_date = "2024-09-01"
compatibility_flags = ["nodejs_compat"]

[env.production]
compatibility_flags = ["nodejs_compat"]

[env.preview]
compatibility_flags = ["nodejs_compat"]
